<div class="page-container">
  <div class="title">
    <h1>{{title}}</h1>
  </div>
  <div class="grid-wrapper">
    <ag-grid-angular id="base-grid" class="base-grid"
      [ngClass]="{'ag-theme-material-custom': isDark === true, 'ag-theme-material': isDark === false}"
      [gridOptions]="gridOptions" [defaultColDef]="defaultColumnDef" [columnDefs]="columnDefs" [rowData]="rowData"
      [editType]="editType" [animateRows]="true" (gridSizeChanged)="onGridSizeChanged($event)">
    </ag-grid-angular>
  </div>
</div>
