/* You can add global styles to this file, and also import other style files */
@import "../../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../../node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin.scss";
@import "../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.ag-theme-material {
  @include ag-theme-material();
}

html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  overflow: auto;
}

body {
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.footer mat-toolbar {
  justify-content: flex-end;
}

.header, footer {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
}

.header-toolbar {
  justify-content: space-between;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content,
mat-sidenav {
  padding: 1rem;
  box-sizing: border-box;
}

mat-sidenav {
  background-color: whitesmoke;
  width: 25%;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-radio-button {
  margin: 0.5rem 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.page-container .title {
  flex: 0 0 auto;
}

.page-container .grid-wrapper {
  flex: 1 1 auto;
}

.base-grid {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

