@media only screen and (max-width: 800px) {
  .ag-header {
    height: 20px !important;
    min-height: 20px !important;
  }

  .ag-header-row-column {
    text-outline: 0 !important;
  }

  .ag-header-row {
    height: 20px !important;
    font-size: 10px !important;
  }

  .ag-cell {
    line-height: 20px !important;
    font-size: 10px !important;
  }
}
