body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header-toolbar {
  flex: 0 auto;
  justify-content: space-between;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

mat-radio-button {
  margin: 0.5rem;
}

mat-sidenav-container {
  flex: 1 auto;
}

mat-sidenav {
  padding: 1rem;
  background-color: whitesmoke;
  width: 25%;
}

.ebit-grid {
  height: 100%;
  width: 100%;
}

.medal--background {
  background: cadetblue;
}
