<h1>Ebit {{title}} project</h1>

<!--Selezione editabile o no-->
<div class="row ebit-grid__button-container">
  <mat-radio-group (change)="changeEditableProperty($event)" aria-label="Select an option">
    <mat-radio-button style="font-size: 12px; margin-right:20px" value="1" checked>Tabella Editabile</mat-radio-button>
    <mat-radio-button style="font-size: 12px" value="2">Tabella NON Editabile</mat-radio-button>
  </mat-radio-group>
</div>

<ng-container *ngIf="isGridEditable">
  <div style="margin-bottom: 5px;" *ngIf=" isCellEditorEnabled else fullRow">
    <span style="font-size: 12px; margin-right:20px">Singole celle editabili</span>
    <button style="font-size: 12px; margin-right:20px" (click)="onBtnAbilitaFullRowEditor()">
      Abilita Editor: FullRow
    </button>
  </div>

  <div style="margin-bottom: 5px;" *ngIf="!isCellEditorEnabled">
    <button style="font-size: 12px; margin-right:20px" (click)="onBtStartEditing()">
      Start Editing Line 2
    </button>
    <button style="font-size: 12px" (click)="onBtStopEditing()">
      Stop Editing
    </button>
  </div>
</ng-container>

<div>
  <mat-slide-toggle [checked]="false" [disabled]="false" (change)="onChangeDarkThemeToggle($event)">Custom Dark
    Theme {{isDark}}</mat-slide-toggle>
</div>

<!--Grid-->
<div class="ebit-grid__container">

  <div class="row">
    <ag-grid-angular
      class="ebit-grid"
      [ngClass]="{'ag-theme-alpine-custom': isDark === true, 'ag-theme-alpine': isDark === false}"
      [gridOptions]="gridOptions"
      [defaultColDef]="defaultColumnDef"
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      [editType]="editType"
      [animateRows]="true">
    </ag-grid-angular>
  </div>
</div>


<ng-template #fullRow>
  <span style="font-size: 12px; margin-right:20px">Righe intere editabili</span>
  <button style="font-size: 12px" (click)="onBtnAbilitaCellEditor()">
    Abilita Editor: Cell
  </button>

</ng-template>
