@import "~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin";

.ag-theme-material-custom {
  @include ag-theme-material((
      // alpine-active-color: #ffe600,
      background-color: #29264e,
      foreground-color:  #ffffff,
      secondary-foreground-color: ag-derived(foreground-color, $opacity: 0.54),
      odd-row-background-color: darken( #29264e, 0),
      header-background-color: darken( #29264e, 5),
      header-foreground-color: #ffe600,
      header-cell-hover-background-color: lighten( #29264e, 2),
      header-cell-moving-background-color: lighten( #29264e, 5),
      border-color: #cccccc,
      hover-color: lighten( #cccccc, 7)
  ));

  .ag-header {
      text-shadow: ffe600;
  }
}
