<div class="page-container">
  <div class="title">
    <h1>{{title}}</h1>
  </div>
  <div *ngIf="true">
    <section class="example-section">
      <mat-checkbox class="hide-cols-grid__margin" *ngFor="let col of internalColumnsDef; let $index = index"
                    [ngModel]="col.visible"
                    [disabled]="col.agCol.field === 'athlete'"
                    (ngModelChange)="updateColumnsVisibility($index, !col.visible)">{{col.agCol.headerName}}
      </mat-checkbox>
    </section>
  </div>
  <div class="grid-wrapper">
    <ag-grid-angular
      id="base-grid"
      class="base-grid ag-theme-material"
      [gridOptions]="gridOptions"
      [defaultColDef]="defaultColumnDef"
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      [editType]="editType"
      [animateRows]="true"
    >
    </ag-grid-angular>
    <!--    (gridSizeChanged)="onGridSizeChanged($event)"-->
  </div>
</div>
