<mat-card>
  <mat-card-title>Base Table</mat-card-title>
  <mat-card-subtitle>ng-table base</mat-card-subtitle>
  <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus sint ratione dolore repudiandae harum. Nobis eos eveniet sequi temporibus aliquam. Voluptatem assumenda similique sapiente sed illum nesciunt beatae obcaecati.</mat-card-content>
  <mat-card-actions align="end"><a routerLink="/base" routerLinkActive="active" mat-raised-button>Apri</a></mat-card-actions>
</mat-card>
