<h1>Examples</h1>
<!-- BASE -->
<mat-card>
  <mat-card-title>Booleans Table</mat-card-title>
  <mat-card-subtitle>ag-grid con renderer e editor custom</mat-card-subtitle>
  <mat-card-content>Demo Base Table che implementa i seguenti componenti della libreria: <br/>
    Campo checkbox: utilizza un renderer che implementa un componente checkbox di material. <br/>
    Campi SlideToogle: utilizzano editor custom per soli booleani che implementa un slide-toogle di material
  </mat-card-content>
  <mat-card-actions align="end"><a routerLink="/booleans" routerLinkActive="active" mat-raised-button>Apri</a>
  </mat-card-actions>
</mat-card>

<!-- DATE -TIME -->
<mat-card>
  <mat-card-title>DateTime Table</mat-card-title>
  <mat-card-subtitle>ag-grid con editor custom: dateTime, Date e Time</mat-card-subtitle>
  <mat-card-content>Demo Base Table contenente i seguenti editor custom. <br/>
    Campo admission: utilizza editor custom DateTime. <br/>
    Campi xxx: utilizza editor custom Date<br/>
    Campo yyy: utilizza editor custom per Time
  </mat-card-content>
  <mat-card-actions align="end"><a routerLink="/date-time" routerLinkActive="active" mat-raised-button>Apri</a>
  </mat-card-actions>
</mat-card>

<!-- BOOLEANS -->
<mat-card>
  <mat-card-title>DateTime Table</mat-card-title>
  <mat-card-subtitle>ag-grid con editor custom: dateTime, Date e Time</mat-card-subtitle>
  <mat-card-content>Demo Base Table contenente i seguenti editor custom. <br/>
    Campo admission: utilizza editor custom DateTime. <br/>
    Campi xxx: utilizza editor custom Date<br/>
    Campo yyy: utilizza editor custom per Time
  </mat-card-content>
  <mat-card-actions align="end"><a routerLink="/date-time" routerLinkActive="active" mat-raised-button>Apri</a>
  </mat-card-actions>
</mat-card>

<!-- RESPONSIVE -->
<mat-card>
  <mat-card-title>Responsive Table</mat-card-title>
  <mat-card-subtitle>ng-table base</mat-card-subtitle>
  <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus sint ratione dolore
    repudiandae harum. Nobis eos eveniet sequi temporibus aliquam. Voluptatem assumenda similique sapiente sed illum
    nesciunt beatae obcaecati.
  </mat-card-content>
  <mat-card-actions align="end"><a routerLink="/responsive" routerLinkActive="active" mat-raised-button>Apri</a>
  </mat-card-actions>
</mat-card>

<!-- HIDE COLS -->
<mat-card>
  <mat-card-title>Hide Cols Table</mat-card-title>
  <mat-card-subtitle>ng-table base</mat-card-subtitle>
  <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus sint ratione dolore repudiandae harum. Nobis eos eveniet sequi temporibus aliquam. Voluptatem assumenda similique sapiente sed illum nesciunt beatae obcaecati.</mat-card-content>
  <mat-card-actions align="end"><a routerLink="/hide" routerLinkActive="active" mat-raised-button>Apri</a></mat-card-actions>
</mat-card>

<!-- ROW RESIZE -->
<mat-card>
  <mat-card-title>Row Resize Table</mat-card-title>
  <mat-card-subtitle>ng-table base</mat-card-subtitle>
  <mat-card-content>tabella base con ridimensionamento dell'altezza in base alla risoluzione delllo schermo</mat-card-content>
  <mat-card-actions align="end"><a routerLink="/resize" routerLinkActive="active" mat-raised-button>Apri</a></mat-card-actions>
</mat-card>
