<h1>Examples</h1>
<!-- BASE -->
<mat-card>
  <mat-card-title>Base Table</mat-card-title>
  <mat-card-subtitle>ag-grid con editor custom: lettere e numeri</mat-card-subtitle>
  <mat-card-content>Demo Base Table con primi editor custom. <br/>
    Campo Sport: utilizza editor custom per soli caratteri alfabetici (letterCellEditorComponent). <br/>
    Campi Age e Year: utilizzano editor custom per soli caratteri numerici No decimali (numericCellEditorComponent)<br/>
    Campo Score: utilizza editor custom per soli caratteri numerici con max 2 decimali ((numericCellEditorComponent)
  </mat-card-content>
  <mat-card-actions align="end"><a routerLink="/base" routerLinkActive="active" mat-raised-button>Apri</a>
  </mat-card-actions>
</mat-card>

<!-- DATE -TIME -->
<mat-card>
  <mat-card-title>DateTime Table</mat-card-title>
  <mat-card-subtitle>ag-grid con editor custom: dateTime, Date e Time</mat-card-subtitle>
  <mat-card-content>Demo Base Table contenente i seguenti editor custom. <br/>
    Campo admission: utilizza editor custom DateTime. <br/>
    Campi xxx: utilizza editor custom Date<br/>
    Campo yyy: utilizza editor custom per Time
  </mat-card-content>
  <mat-card-actions align="end"><a routerLink="/date-time" routerLinkActive="active" mat-raised-button>Apri</a>
  </mat-card-actions>
</mat-card>

<!-- BOOLEANS -->
<mat-card>
  <mat-card-title>Booleans Table</mat-card-title>
  <mat-card-subtitle>ag-grid con renderer</mat-card-subtitle>
  <mat-card-content>Tabella che implementa il componente renderer della libreria <b>BooleanCellRendererComponent</b> che permette l'editing in-line di campi booleani.<br>
    Il componente accetta in input i seguenti parametri:
    <ul>
      <li><b>disable</b>:boolean, per disabilitare l'editing</li>
      <li><b>color</b>: matColor, per definire il colore secondo material, i valori accettati sono ['primary', 'accent', 'warn']</li>
      <li><b>editor</b>: boolEditor, per definire quale tipo di componente material si desidera utilizzare, i valori accettati sono ['checkbox', 'slideToogle']</li>
    </ul>
  </mat-card-content>
  <mat-card-actions align="end"><a routerLink="/booleans" routerLinkActive="active" mat-raised-button>Apri</a>
  </mat-card-actions>
</mat-card>

<!-- COMBO -->
<mat-card>
  <mat-card-title>Combo</mat-card-title>
  <mat-card-subtitle>ag-grid editor custom</mat-card-subtitle>
  <mat-card-content>Tabella che implementa il componente editor della libreria <b>ComboCellEditorComponent</b> che utilizza un menu a tendina in stile material design.<br>
    Il componente accetta in input i seguenti parametri:
    <ul>
      <li><b>xxx</b>:xxx, xxxx</li>
    </ul>
  </mat-card-content>
  <mat-card-actions align="end"><a routerLink="/combo" routerLinkActive="active" mat-raised-button>Apri</a>
  </mat-card-actions>
</mat-card>

<h1>Table customs</h1>
<!-- RESPONSIVE -->
<mat-card>
  <mat-card-title>Responsive Table</mat-card-title>
  <mat-card-subtitle>ng-table base</mat-card-subtitle>
  <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus sint ratione dolore
    repudiandae harum. Nobis eos eveniet sequi temporibus aliquam. Voluptatem assumenda similique sapiente sed illum
    nesciunt beatae obcaecati.
  </mat-card-content>
  <mat-card-actions align="end"><a routerLink="/responsive" routerLinkActive="active" mat-raised-button>Apri</a>
  </mat-card-actions>
</mat-card>

<!-- HIDE COLS -->
<mat-card>
  <mat-card-title>Hide Cols Table</mat-card-title>
  <mat-card-subtitle>ng-table base</mat-card-subtitle>
  <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus sint ratione dolore repudiandae harum. Nobis eos eveniet sequi temporibus aliquam. Voluptatem assumenda similique sapiente sed illum nesciunt beatae obcaecati.</mat-card-content>
  <mat-card-actions align="end"><a routerLink="/hide" routerLinkActive="active" mat-raised-button>Apri</a></mat-card-actions>
</mat-card>

<!-- ROW RESIZE -->
<mat-card>
  <mat-card-title>Row Resize Table</mat-card-title>
  <mat-card-subtitle>ng-table base</mat-card-subtitle>
  <mat-card-content>tabella base con ridimensionamento dell'altezza in base alla risoluzione delllo schermo</mat-card-content>
  <mat-card-actions align="end"><a routerLink="/resize" routerLinkActive="active" mat-raised-button>Apri</a></mat-card-actions>
</mat-card>
