@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.ag-theme-alpine-custom {
  @include ag-theme-alpine((
      // use theme parameters where possible
      alpine-active-color: deeppink,
      background-color: #2e0931,
      foreground-color:  #F5F5F5,
      secondary-foreground-color:#F5F5F5,
      odd-row-background-color: darken( #2d3436, 3),
      header-background-color: darken(#636e72, 30),
      header-foreground-color: #F5F5F5,
      header-cell-hover-background-color: lighten( #2d3436, 5),
      header-cell-moving-background-color: lighten( #2d3436, 5),
      border-color: #424242,
      hover-color: lighten( #2d3436, 7)
  ));

  .ag-header {
      // or write CSS selectors to make customisations beyond what the parameters support
      text-shadow: deeppink;
  }
}

// .ag-theme-balham {
//   // $ag-params contains all values for the light theme
//   @include ag-theme-balham($ag-params);
// }

// .ag-theme-balham-dark {
//   $background: #2d3436;
//   $foreground: #F5F5F5;

//   // override the default params with the dark values
//   $dark-params: map-merge($ag-params, (
//       background-color: $background,
//       foreground-color: $foreground,
//       secondary-foreground-color: $foreground,
//       odd-row-background-color: darken($background, 3),
//       header-background-color: darken(#636e72, 30),
//       header-foreground-color: $foreground,
//       header-cell-hover-background-color: lighten($background, 5),
//       header-cell-moving-background-color: lighten($background, 5),
//       border-color: #424242,
//       hover-color: lighten($background, 7)
//     ));

//     @include ag-theme-balham($dark-params);
// }
