/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
  @include ag-theme-alpine();
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
html {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  overflow: auto;
}
body {
  padding: 1rem;
  overflow: auto;
}
